*{
  transition: all 0.2s ease-in-out;
}

body{
  font-family: raleway,sans-serif;
}

button{
  cursor: pointer;
}

#header{
  background-color: #89EABD;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 50px;
}

#header-nav-button{
   font-size: 20px;
   padding: 8px 10px;
   border: 1px solid white;
   border-radius: 3px;
}

#dropdownNav{
  width: 200px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  display: none;
  background-color: #89EABD;
  text-align: center;
  z-index: 100;
  box-shadow: #999 0px 3px 5px;
  margin-top: 10px;
}

#dropdownNav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#dropdownNav li{
  border-top: 1px solid white;
}

#dropdownNav a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 0;
}

.showDropdownNav #dropdownNav{
  display: block;
}

#logo{
  height: 180px;
  position: absolute;
  top: -10px;
  z-index: 100;
}

.form-top-callout{
  font-size: 24px;
  font-weight: 100;
}

.form-bottom-callout{
  font-size: 35px;
  font-weight: bold;
}

.avg-wait-time-under{
  color: #32F0A3;
  font-weight: bold;
  font-size: 24px;
}

.form-container{
  margin: 40px 0;
  position: relative;
}

#store-closed-overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: calc(100% + 10px);
  background: rgba(100, 100, 100);
  background: rgba(100, 100, 100, 0.7);
  border-radius: 10px;
}

#store-closed-overlay.store-is-closed{
  display: block;
}

#store-closed-overlay .message-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: rgb(50, 240, 163);
  padding: 10px;
}

.form-container form{
  width: 100%;
}

.form-field{
  border: none;
  background-color: #C6C6C6;
  font-size: 24px;
  font-weight: bold;
  color: #474747;
  max-width: 650px;
  width: 100%;
  margin: 10px auto;
  display: block;
  padding: 5px;
}

.form-field:focus,
button:focus {
  outline: 0;
 }

.textarea-field{
  min-height: 130px;
  resize: none;
}

.primary-button{
  max-width: 650px;
  padding: 10px;
  border: none;
  background-color: #32F0A3;
  width:100%;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  display: block;
  color: white;
}

.credit-card-text-container{
  font-weight:bold;
  font-size: 15px;
}

.credit-card-text-container .credit-card-icons-container{
  margin: 5px 0;
}

.credit-card-text-container .credit-card-icons-container i{
  margin: 5px;
  font-size: 35px;
}

#footer{
  margin-top: 15px;
  padding: 25px 0 35px 0;
  line-height: 35px;
  background-color: #f2f2f2;
}

.copyright{
  font-weight: bold;
}

.social-media-links{
  font-size: 35px;
  text-align: right;
}

@media only screen and (max-width : 992px) {
  #logo{
    height: 110px;
  }
}

@media only screen and (max-width : 768px) {
  #footer,
  #footer .social-media-links{
    text-align: center;
  }
}
