<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" id="theViewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Get Me That Delivery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/orderController.js"></script>
    <script src="/js/controllers/faqController.js"></script>
    <script src="/js/controllers/contactUsController.js"></script>
    <script src="/js/services/storeState.js"></script>
    <script src="/js/factories/stateService.js"></script>
    <script src="/js/factories/orderService.js"></script>
    <script src="/js/factories/contactUsService.js"></script>
  </head> 
  <body>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a ng-href="#/" ng-click="showDropdownNav = false;">
              <img src="/images/logo_white_border.png" id="logo">
            </a>
          </div>
          <div class="col-sm-6 text-right" ng-class="{'showDropdownNav': showDropdownNav}">
              <i id="header-nav-button" class="fa fa-bars header-nav" aria-hidden="true" ng-click="showDropdownNav = !showDropdownNav;"></i>
              <div id="dropdownNav" ng-click="showDropdownNav = !showDropdownNav;">
                <ul>
                  <li>
                    <a ng-href="#/">Place Order</a>
                  </li>
                  <li>
                    <a ng-href="#/how-it-works">How It Works</a>
                  </li>
                  <li>
                    <a ng-href="#/frequently-asked-questions">FAQ's</a>
                  </li>
                  <li>
                    <a ng-href="#/contact-us">Contact Us</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <ng-view></ng-view>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a ng-href="#/terms-of-service">Privacy & Terms</a>
          </div>
          <div class="col-md-6 text-center copyright">&copy; 2017 GET ME THAT DELIVERY</div>
          <div class="col-md-3 social-media-links">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
