<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Contact Us</h1>
      <p>Send us a message and we'll get back to you as soon as possible.</p>
    </div>
  </div>
  <div class="row form-container">
    <form name="contactForm" ng-submit="vm.postMessage()">
      <input type="text" placeholder="Name" ng-model="vm.message.name" class="form-field">
      <input type="email" placeholder="Email" ng-model="vm.message.email" class="form-field" required>
      <input type="phone" placeholder="Phone" ng-model="vm.message.phone" class="form-field">
      <textarea placeholder="How can we help?" ng-model="vm.message.body" class="form-field textarea-field" required></textarea>
      <button type="submit" class="primary-button">SEND MESSAGE</button>
    </form>
    <div class="form-overlay" ng-class="{'form-busy': vm.contactFormBusy}">
      <div class="message-container" ng-bind-html="vm.contactFormOverlayHtml"></div>
    </div>
  </div>
</div>
