<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>FAQ's</h1>
        <p>If these frequently asked questions don't answer your questions you can always <a ng-href="#/contact-us">contact us</a>.</p>
      </div>
      <h2>Delivery</h2>
      <div class="card mb-3">
        <div class="card-header">Where do you deliver?</div>
        <div class="card-block">
          <p>We currently deliver to all Rexburg, Idaho addresses.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">How much is the delivery fee for orders?</div>
        <div class="card-block">
          <p>All orders will have a flat rate fee of ${{vm.feeAmount}}. Tipping the runner is greatly appreciated, but not required.</p>
          <p>For example, if the cost of your items is $20, your total would be ${{vm.feeAmount + 20}} plus any tip amount. It's that simple.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">What are your delivery hours?</div>
        <div class="card-block">
          <p>11AM to 11PM Monday - Saturday. We are closed on Sunday.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">How quickly do you deliver?</div>
        <div class="card-block">
          <p>The average delivery time is 35 minutes, but times can vary depending on demand, traffic and restaurant wait times. We always keep you posted on the status of your order, texts from your runner.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Can I order in advance?</div>
        <div class="card-block">
          <p>Please reach out for large catering orders. All other deliveries are on-demand, at the time you need it.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">How do I pay?</div>
        <div class="card-block">
          <p>The system is completely secure. All payments are made through Square and we accept cash and all major credit and debit cards. When your order is delivered, you’ll give the runner a credit or debit card which they will swipe securely via the Square app.</p>
        </div>
      </div>
      <h2>General</h2>
      <div class="card mb-3">
        <div class="card-header">What is Get Me That Delivery?</div>
        <div class="card-block">
          <p>Get Me That Delivery is your on demand, personalized delivery assistant. You order, we deliver.. it’s that simple!</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">How does it work?</div>
        <div class="card-block">
          <p>Enter the item(s) you would like from any restaurant or store in Rexburg Idaho. Editing the details of your order is simple and placing your order only takes three taps on your phone, ipad, or computer.</p>
          <p>After you order, it is assigned to one of our runners, who will deliver your item(s).</p>
          <p>Payment is secured upon delivery. Once your item(s) are delivered by the runner, you pay for them right though the Square app via credit or debit card. All payment information is secured through Square.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">What can I have delivered?</div>
        <div class="card-block">
          <p>Almost Anything! We deliver food from your favorite restaurants, dry cleaning, prescriptions, clothing, groceries, and more!</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Can I have controlled substances delivered such as alcohol or tabacco delivered?</div>
        <div class="card-block">
          <p>Unfortunately we do not deliver these substances.</p>
        </div>
      </div>
      <h2>My Order</h2>
      <div class="card mb-3">
        <div class="card-header">What is your return policy?</div>
        <div class="card-block">
          <p>If you have an issue with your order, contact your runner and we will fix the situation ASAP.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">How do I report a problem with my order?</div>
        <div class="card-block">
          <p>You can contact your runner or you can reach us <a ng-href="#/contact-us">here</a>.</p>
        </div>
      </div>
      <h2>Payment</h2>
      <div class="card mb-3">
        <div class="card-header">How do I pay for an order?</div>
        <div class="card-block">
          <p>You will be prompted to pay at time of delivery.  We accept all major credit and debit cards. Your form of payment will be secured through Square.</p>
        </div>
      </div>
      <h2>Runners</h2>
      <div class="card mb-3">
        <div class="card-header">Who makes the deliveries?</div>
        <div class="card-block">
          <p>Our trusted runners deliver all orders. All runners are screened and go through a training program before they begin to deliver your orders.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">What do I do if I need to contact my runner?</div>
        <div class="card-block">
          <p>Your runner is just a text away! Once your order is received your runner will contact you via text message to verify your order.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Should I tip my runner?</div>
        <div class="card-block">
          <p>At time of payment you will be given a suggested tip based off of distanced traveled and cost of items purchased. You can adjust it to be whatever you want.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Can I become a runner?</div>
        <div class="card-block">
          <p>Absolutely! We’re always looking for outgoing and friendly people to join our quickly growing delivery team. We work around your schedule. Runners make an average of $8 to $15 an hour. All tips are yours to keep.</p>
          <p>To be a runner, you must be 18 years or older, have an iPhone, own a reliable means of transportation (car 'recommended', bike, scooter, or motorcycle), and have a clean record.</p>
          <p>To apply, shoot us a message using our <a ng-href="#/contact-us">Contact Us</a> form.</p>
        </div>
      </div>
    </div>
  </div>
</div>
