<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1>How It Works</h1>
        <p>Imagine getting whatever you want delivered.</p>
        <p>In three clicks a friendly runner is at your door with delicious food or anything else you want.</p>
        <p>Magic? You bet.</p>
      </div>
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-header text-center">FROM ANYWHERE</div>
          <div class="card-block">
            <p class="card-subtitle mb-2 text-muted">Grocery Store, Fast Food, Office supplies, you name it.</p>
            <p class="card-text">Decide what you want. Ask for anything from any store or restaurant in Rexburg. Customize your order. (Ordering is easy as texting a friend, just type what you want.)</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header text-center">FAST DELIVERY</div>
          <div class="card-block">
            <p class="card-subtitle mb-2 text-muted">Delivered to you in under an hour.</p>
            <p class="card-text">Delivered to you in under an hour. Your Order is on the way. You can text your runner with questions or changes you may have.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header text-center">ESTIMATED DELIVERY TIME</div>
          <div class="card-block">
            <p class="card-subtitle mb-2 text-muted">Never miss a delivery.</p>
            <p class="card-text">It's easy and affordable. Review your receipt at time of delivery, select your tip and confirm. Payment is made cashless for convienence, and done in the Square app via credit or debit card.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
