<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Place An Order</h1>
      <div class="form-top-callout">ALL ORDERS ${{vm.feeAmount}} FLAT RATE FEE</div>
      <div class="form-bottom-callout">[ANYTHING DELIVERED]</div>
      <div class="avg-wait-time-under">Average delivery time: under 35 minutes</div>
    </div>
  </div>
  <div class="row form-container">
    <form name="orderForm" ng-submit="vm.postOrder()">
      <input type="text" placeholder="Name" ng-model="vm.order.recipientName" class="form-field" required ng-disabled="!vm.storeState.storeOpen">
      <input type="email" placeholder="Email" ng-model="vm.order.recipientEmail" class="form-field" required ng-disabled="!vm.storeState.storeOpen">
      <input type="phone" placeholder="Phone" ng-model="vm.order.recipientPhone" class="form-field" required ng-disabled="!vm.storeState.storeOpen">
      <input type="text" placeholder="Address (Rexburg)" ng-model="vm.order.recipientAddress" class="form-field" required ng-disabled="!vm.storeState.storeOpen">
      <input type="text" placeholder="From Where?" ng-model="vm.order.sourceName" class="form-field" required ng-disabled="!vm.storeState.storeOpen">
      <textarea placeholder="What would you like?" ng-model="vm.order.orderDescription" class="form-field textarea-field" required ng-disabled="!vm.storeState.storeOpen"></textarea>
      <button type="submit" class="primary-button" ng-disabled="!vm.storeState.storeOpen">GET ME THAT</button>
    </form>
    <div class="form-overlay" ng-class="{'form-busy': vm.orderFormBusy}">
      <div class="message-container" ng-bind-html="vm.orderFormOverlayHtml"></div>
    </div>
  </div>
  <div class="row text-center credit-card-text-container">
    <div class="col-12">WE ACCEPT ALL MAJOR CREDIT AND DEBIT CARDS</div>
    <div class="col-12 credit-card-icons-container">
      <i class="fa fa-cc-visa"></i>
      <i class="fa fa-cc-mastercard"></i>
      <i class="fa fa-cc-discover"></i>
      <i class="fa fa-cc-amex"></i>
      <i class="fa fa-cc-jcb"></i>
    </div>
    <div class="col-12">NO CASH PLEASE</div>
  </div>
</div>
